.main-container {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row-reverse;
}
.content-container {
  position: relative;
  flex-grow: 2;
}
.nav-container {
  flex-grow: 1;
  max-width: 400px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.fixed {
  position: fixed;

  left: 0;
  top: 0;
}

.standard-button {
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 15px 0px 15px;
  margin: 5px;
  min-height: 30px;
  text-decoration: none;
  color: black;
}
